@font-face {
	font-family: Commons;
	src: url('Commons.TTF');
}
*{
	padding: 0px; 
	margin: 0px; 
	border: 0px;
	outline: none;
}
body{
	background: #AA1E1B url(images/background.png) top repeat-x;
	font-family: Sans-Serif;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
}
#container{
	width: 990px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
}
#content{
	background: url(images/content.png) top center no-repeat;
	width: 990px;
	height: 494px;
}
.kop{
	color: #F8C60A;
	font-size: 24px;
	text-shadow: 0px 1px 1px #000;
	font-weight: bold;
	font-family: Commons;
	display: block;
}
.tekst{
	color: #FFF;
	font-size: 15px;
	text-shadow: 0px 1px 1px #000;
	font-weight: bold;
	display: block;
}
#terug{
	float: right;
	font-size: 12px;
	min-height: 13px;
	background: url(images/arrow.png) center left no-repeat;
	margin-right: 15px;
	margin-top: 10px;
	padding-left: 20px;
}
a:link, a:visited{
	outline: 0;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0px 1px 1px #000;
}
a:hover, a:active{
	text-decoration: underline;
	color: #FFF;
}
#block {
	background: url('images/block.png') top center no-repeat; 
	height: 133px;
	width: 684px;
	margin: 0 auto;
}
#block_vak1 {
	height: 75px;
	width: 355px;
	display: block;
	float: left;
	padding: 15px;
	margin-top: 32px;
	text-align: left;
	text-shadow: 0px 1px 1px #000;
}
#block_vak2 {
	display: block;
	float: right;
	margin-right: 40px;
	margin-top: 60px;
	background: url('images/counter.png') top center no-repeat; 
	height: 47px;
	width: 250px;
	text-align: left;
	text-shadow: 0px 1px 1px #000;
}
#counter {
	padding-left: 8px;
	padding-right: 8px;
}
.nummer0, .nummer1, .nummer2, .nummer3, .nummer4, .nummer5, .nummer6, .nummer7, .nummer8, .nummer9 {
	width: 27px;
	height: 47px;
	float: left;
	padding-left: 1px;
	padding-right: 1px;
}

.nummer0{
	background: url('images/nummers/0.png') top center no-repeat; 
}
.nummer1{
	background: url('images/nummers/1.png') top center no-repeat; 
}
.nummer2{
	background: url('images/nummers/2.png') top center no-repeat; 
}
.nummer3{
	background: url('images/nummers/3.png') top center no-repeat; 
}
.nummer4{
	background: url('images/nummers/4.png') top center no-repeat; 
}
.nummer5{
	background: url('images/nummers/5.png') top center no-repeat; 
}
.nummer6{
	background: url('images/nummers/6.png') top center no-repeat; 
}
.nummer7{
	background: url('images/nummers/7.png') top center no-repeat; 
}
.nummer8{
	background: url('images/nummers/8.png') top center no-repeat; 
}
.nummer9{
	background: url('images/nummers/9.png') top center no-repeat; 
}
#error {
	background: url(images/error.png) top center no-repeat;
	height: 40px;
	width: 194px;
	position: absolute;
	margin-left: 30px;
	margin-top: 79px;
	padding-left: 35px;
	padding-top: 5px;
	font-size: 12px;
	text-align: left;
}
label{
	text-align: right;
	text-shadow: 1px 1px #000;
	font-size: 12px;
	padding-right: 5px;
}
input {
	margin-bottom: 3px;
	padding: 5px;
	width: 190px;
	background: #B91212 url(images/input.png) top repeat-x;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	outline: none;
	font-size: 14px;
	color: #FFF;
	text-shadow: 0px 1px 1px #000;
	-moz-box-shadow: inset 0 1px 1px 0px rgba(0,0,0,0.5), 0 1px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 1px 1px 0px rgba(0,0,0,0.5), 0 1px 1px 0px rgba(255,255,255,0.5);
	box-shadow: inset 0 1px 1px 0px rgba(0,0,0,0.5), 0 1px 1px 0px rgba(255,255,255,0.5);
}
input:focus, input:focus:hover {
	background: #AC0C0C;
}
input:hover {
	background: #C11313;
}
input.submit {
	width: 93px;
	height: 40px;
	float: right;
	padding: 0px;
	margin: 0px;
	background: url(images/btn.png) center center repeat-x;
	cursor: pointer;
	text-shadow: 0px 0px 5px #000;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
input.submit:hover {
	background: url(images/btn_hover.png) center center repeat-x;
}
input.submit:active {
	background: url(images/btn_active.png) center center repeat-x;
}
}